*.so
.cargo
.ipynb_checkpoints
.pytest_cache
.venv*
__pycache__
_pip
data_science_project/iris.png
flamegraph*.svg
hyperfine.json
perf.data*
requirements-benchmark.txt
srcery/poetry.lock
target
target-*
test-data/popular-wheels
test-venvs
venv
zcc
