[package]
name = "monotrail"
version = "0.1.0"
description = "This proof of concept shows how to use python packages without virtualenvs"
edition = "2021"
readme = "Readme.md"

[workspace]
members = [
    "install-wheel-rs"
]

[lib]
crate-type = ["rlib", "cdylib"]
name = "monotrail"

[dependencies]
anyhow = "1.0.65"
base64 = "0.21.0"
clap = { version = "4.0.2", features = ["derive"] }
cpufeatures = "0.2.5"
dirs = "4.0.0"
fs-err = "2.8.1"
fs2 = "0.4.3"
git2 = "0.16.1"
indicatif = "0.17.1"
install-wheel-rs = { version = "0.0.3", path = "install-wheel-rs" }
libc = "0.2.133"
libloading = "0.7.3"
# For the zig build
libz-sys = { version = "1.1.8", features = ["static"] }
nix = { version = "0.26.1", features = ["process"] }
pep440 = "0.2.0"
pyo3 = { version = "0.18.1", features = ["extension-module", "abi3-py37"], optional = true }
rayon = "1.5.3"
regex = "1.6.0"
requirements = "0.3.0"
serde = { version = "1.0.145", features = ["derive"] }
serde_json = "1.0.85"
sha2 = "0.10.6"
tar = "0.4.38"
target-lexicon = "0.12.4"
tempfile = "3.3.0"
thiserror = "1.0.37"
toml = "0.7.2"
tracing = "0.1.36"
tracing-subscriber = "0.3.15"
ureq = { version = "2.5.0", features = ["json"] }
walkdir = "2.3.2"
widestring = "1.0.2"
zstd = "0.12.1"

[features]
default = ["vendored"]
python_bindings = ["pyo3", "install-wheel-rs/python_bindings"]
vendored = ["git2/vendored-openssl", "git2/vendored-libgit2"]

# zip implementation
[profile.dev.package.adler]
opt-level = 3

# https://doc.rust-lang.org/cargo/reference/profiles.html#release
[profile.perf]
inherits = "release"
debug = 1

[dev-dependencies]
indoc = "2.0.0"
mockito = "1.0.0"
tempfile = "3.3.0"
which = "4.3.0"
